<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UID</key>
	<string>u-s4t2ud-d39b0effabf724fcd139a962126c3e3f6a9f02c25e38a17159dbb875a88e3f67</string>
	<key>SECRET</key>
	<string>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</string>
</dict>
</plist>
